<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <powershell>
            <commandlets>
                <add name="GetImageData"  type="Common.Web.Commandlets.GetImageData, Common.Web"/>
            </commandlets>
        </powershell>
    </sitecore>
</configuration>